<h3>{{playerStats.name}}</h3>
    <div id="selectors">
        <!-- add all tables. hide based on clicks -->
        <div id="allLink" onclick="showAll()" class="filter currentLink"> All Games</div>
        <div id="homeLink" onclick="showHome()" class="filter"> Home Games</div>
        <div id="awayLink" onclick="showAway()" class="filter"> Away Games</div>
        <div id="winsLink" onclick="showWins()" class="filter"> Wins</div>
        <div id="lossesLink" onclick="showLosses()" class="filter"> Losses</div>
    </div>

<div id="all" class="current">
    <table >
        <th>Opp</th>
        <th>Location</th>
        <th>Result</th>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>fg%</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>2pt%</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>3pt%</th>
        <th>ftm</th>
        <th>fta</th>
        <th>ft%</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>

        <!-- <h3 ng-if=""></h3> -->

        <tr ng-repeat="stat in playerStats.stats">
            <td>{{stat.opponent}}</td>
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>   
    </table>

    <h3>Totals</h3>

    <table>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>fg%</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>2pt%</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>3pt%</th>
        <th>ftm</th>
        <th>fta</th>
        <th>ft%</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>    

        <tr ng-repeat="total in playerStats.totals">
            <td>{{total.mins}}</td>
            <td>{{total.pts}}</td>
            <td>{{total.fgm}}</td>
            <td>{{total.fga}}</td>
            <td>{{total.fgp}}%</td>
            <td>{{total.twoptm}}</td>
            <td>{{total.twopta}}</td>
            <td>{{total.twoptp}}%</td>
            <td>{{total.threeptm}}</td>
            <td>{{total.threepta}}</td>
            <td>{{total.threeptp}}%</td>
            <td>{{total.ftm}}</td>
            <td>{{total.fta}}</td>
            <td>{{total.ftp}}%</td>
            <td>{{total.oreb}}</td>
            <td>{{total.dreb}}</td>
            <td>{{total.reb}}</td>
            <td>{{total.ast}}</td>
            <td>{{total.to}}</td>
            <td>{{total.stl}}</td>
            <td>{{total.blk}}</td>
            <td>{{total.blkr}}</td>
            <td>{{total.pf}}</td>
            <td>{{total.flson}}</td>
            <td>{{total.plusminus}}</td>
        </tr>   
    </table>

    <h3>Averages</h3>

    <table>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>ftm</th>
        <th>fta</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>    

        <tr ng-repeat="average in playerStats.averages">
            <td>{{average.mins}}</td>
            <td>{{average.pts}}</td>
            <td>{{average.fgm}}</td>
            <td>{{average.fga}}</td>
            <td>{{average.twoptm}}</td>
            <td>{{average.twopta}}</td>
            <td>{{average.threeptm}}</td>
            <td>{{average.threepta}}</td>
            <td>{{average.ftm}}</td>
            <td>{{average.fta}}</td>
            <td>{{average.oreb}}</td>
            <td>{{average.dreb}}</td>
            <td>{{average.reb}}</td>
            <td>{{average.ast}}</td>
            <td>{{average.to}}</td>
            <td>{{average.stl}}</td>
            <td>{{average.blk}}</td>
            <td>{{average.blkr}}</td>
            <td>{{average.pf}}</td>
            <td>{{average.flson}}</td>
            <td>{{average.plusminus}}</td>
        </tr>   
    </table>
</div>

<!-- other tables -->
<div id="home">
    <table>
        <th>Opp</th>
        <th>Location</th>
        <th>Result</th>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>fg%</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>2pt%</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>3pt%</th>
        <th>ftm</th>
        <th>fta</th>
        <th>ft%</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>
    
    
        <tr ng-repeat="stat in playerStats.homeGames">
            <td>{{stat.opponent}}</td>
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>   
    </table>
    
    <h3>Totals</h3>
    
    <table>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>fg%</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>2pt%</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>3pt%</th>
        <th>ftm</th>
        <th>fta</th>
        <th>ft%</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>    
    
        <tr ng-repeat="total in playerStats.homeTotals">
            <td>{{total.mins}}</td>
            <td>{{total.pts}}</td>
            <td>{{total.fgm}}</td>
            <td>{{total.fga}}</td>
            <td>{{total.fgp}}%</td>
            <td>{{total.twoptm}}</td>
            <td>{{total.twopta}}</td>
            <td>{{total.twoptp}}%</td>
            <td>{{total.threeptm}}</td>
            <td>{{total.threepta}}</td>
            <td>{{total.threeptp}}%</td>
            <td>{{total.ftm}}</td>
            <td>{{total.fta}}</td>
            <td>{{total.ftp}}%</td>
            <td>{{total.oreb}}</td>
            <td>{{total.dreb}}</td>
            <td>{{total.reb}}</td>
            <td>{{total.ast}}</td>
            <td>{{total.to}}</td>
            <td>{{total.stl}}</td>
            <td>{{total.blk}}</td>
            <td>{{total.blkr}}</td>
            <td>{{total.pf}}</td>
            <td>{{total.flson}}</td>
            <td>{{total.plusminus}}</td>
        </tr>   
    </table>
    
    <h3>Averages</h3>
    
    <table>
        <th>mins</th>
        <th>pts</th>
        <th>fgm</th>
        <th>fga</th>
        <th>2ptm</th>
        <th>2pta</th>
        <th>3ptm</th>
        <th>3pta</th>
        <th>ftm</th>
        <th>fta</th>
        <th>oreb</th>
        <th>dreb</th>
        <th>reb</th>
        <th>ast</th>
        <th>to</th>
        <th>stl</th>
        <th>blk</th>
        <th>blkr</th>
        <th>pf</th>
        <th>flson</th>
        <th>+/-</th>    
    
        <tr ng-repeat="average in playerStats.homeAverages">
            <td>{{average.mins}}</td>
            <td>{{average.pts}}</td>
            <td>{{average.fgm}}</td>
            <td>{{average.fga}}</td>
            <td>{{average.twoptm}}</td>
            <td>{{average.twopta}}</td>
            <td>{{average.threeptm}}</td>
            <td>{{average.threepta}}</td>
            <td>{{average.ftm}}</td>
            <td>{{average.fta}}</td>
            <td>{{average.oreb}}</td>
            <td>{{average.dreb}}</td>
            <td>{{average.reb}}</td>
            <td>{{average.ast}}</td>
            <td>{{average.to}}</td>
            <td>{{average.stl}}</td>
            <td>{{average.blk}}</td>
            <td>{{average.blkr}}</td>
            <td>{{average.pf}}</td>
            <td>{{average.flson}}</td>
            <td>{{average.plusminus}}</td>
        </tr>   
    </table>
</div>

<!-- away games -->

<div id="away">
        <table>
            <th>Opp</th>
            <th>Location</th>
            <th>Result</th>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>fg%</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>2pt%</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>3pt%</th>
            <th>ftm</th>
            <th>fta</th>
            <th>ft%</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
        
        
            <tr ng-repeat="stat in playerStats.awayGames">
                <td>{{stat.opponent}}</td>
                <td>{{stat.location}}</td>
                <td>{{stat.result}}</td>
                <td>{{stat.mins}}</td>
                <td>{{stat.pts}}</td>
                <td>{{stat.fgm}}</td>
                <td>{{stat.fga}}</td>
                <td>{{stat.fgp}}%</td>    
                <td>{{stat.twoptm}}</td>
                <td>{{stat.twopta}}</td>
                <td>{{stat.twoptp}}%</td> 
                <td>{{stat.threeptm}}</td>
                <td>{{stat.threepta}}</td>
                <td>{{stat.threeptp}}%</td>         
                <td>{{stat.ftm}}</td>
                <td>{{stat.fta}}</td>
                <td>{{stat.ftp}}%</td> 
                <td>{{stat.oreb}}</td>
                <td>{{stat.dreb}}</td>
                <td>{{stat.oreb + stat.dreb}}</td>
                <td>{{stat.ast}}</td>
                <td>{{stat.to}}</td>
                <td>{{stat.stl}}</td>
                <td>{{stat.blk}}</td>
                <td>{{stat.blkr}}</td>
                <td>{{stat.pf}}</td>
                <td>{{stat.flson}}</td>
                <td>{{stat.plusMinus}}</td>
            </tr>   
        </table>
        
        <h3>Totals</h3>
        
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>fg%</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>2pt%</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>3pt%</th>
            <th>ftm</th>
            <th>fta</th>
            <th>ft%</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>    
        
            <tr ng-repeat="total in playerStats.awayTotals">
                <td>{{total.mins}}</td>
                <td>{{total.pts}}</td>
                <td>{{total.fgm}}</td>
                <td>{{total.fga}}</td>
                <td>{{total.fgp}}%</td>
                <td>{{total.twoptm}}</td>
                <td>{{total.twopta}}</td>
                <td>{{total.twoptp}}%</td>
                <td>{{total.threeptm}}</td>
                <td>{{total.threepta}}</td>
                <td>{{total.threeptp}}%</td>
                <td>{{total.ftm}}</td>
                <td>{{total.fta}}</td>
                <td>{{total.ftp}}%</td>
                <td>{{total.oreb}}</td>
                <td>{{total.dreb}}</td>
                <td>{{total.reb}}</td>
                <td>{{total.ast}}</td>
                <td>{{total.to}}</td>
                <td>{{total.stl}}</td>
                <td>{{total.blk}}</td>
                <td>{{total.blkr}}</td>
                <td>{{total.pf}}</td>
                <td>{{total.flson}}</td>
                <td>{{total.plusminus}}</td>
            </tr>   
        </table>
        
        <h3>Averages</h3>
        
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>    
        
            <tr ng-repeat="average in playerStats.awayAverages">
                <td>{{average.mins}}</td>
                <td>{{average.pts}}</td>
                <td>{{average.fgm}}</td>
                <td>{{average.fga}}</td>
                <td>{{average.twoptm}}</td>
                <td>{{average.twopta}}</td>
                <td>{{average.threeptm}}</td>
                <td>{{average.threepta}}</td>
                <td>{{average.ftm}}</td>
                <td>{{average.fta}}</td>
                <td>{{average.oreb}}</td>
                <td>{{average.dreb}}</td>
                <td>{{average.reb}}</td>
                <td>{{average.ast}}</td>
                <td>{{average.to}}</td>
                <td>{{average.stl}}</td>
                <td>{{average.blk}}</td>
                <td>{{average.blkr}}</td>
                <td>{{average.pf}}</td>
                <td>{{average.flson}}</td>
                <td>{{average.plusminus}}</td>
            </tr>   
        </table>
    </div>

<!-- wins -->
<div id="wins">
        <table>
            <th>Opp</th>
            <th>Location</th>
            <th>Result</th>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>fg%</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>2pt%</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>3pt%</th>
            <th>ftm</th>
            <th>fta</th>
            <th>ft%</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
        
        
            <tr ng-repeat="stat in playerStats.wins">
                <td>{{stat.opponent}}</td>
                <td>{{stat.location}}</td>
                <td>{{stat.result}}</td>
                <td>{{stat.mins}}</td>
                <td>{{stat.pts}}</td>
                <td>{{stat.fgm}}</td>
                <td>{{stat.fga}}</td>
                <td>{{stat.fgp}}%</td>    
                <td>{{stat.twoptm}}</td>
                <td>{{stat.twopta}}</td>
                <td>{{stat.twoptp}}%</td> 
                <td>{{stat.threeptm}}</td>
                <td>{{stat.threepta}}</td>
                <td>{{stat.threeptp}}%</td>         
                <td>{{stat.ftm}}</td>
                <td>{{stat.fta}}</td>
                <td>{{stat.ftp}}%</td> 
                <td>{{stat.oreb}}</td>
                <td>{{stat.dreb}}</td>
                <td>{{stat.oreb + stat.dreb}}</td>
                <td>{{stat.ast}}</td>
                <td>{{stat.to}}</td>
                <td>{{stat.stl}}</td>
                <td>{{stat.blk}}</td>
                <td>{{stat.blkr}}</td>
                <td>{{stat.pf}}</td>
                <td>{{stat.flson}}</td>
                <td>{{stat.plusMinus}}</td>
            </tr>   
        </table>
        
        <h3>Totals</h3>
        
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>fg%</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>2pt%</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>3pt%</th>
            <th>ftm</th>
            <th>fta</th>
            <th>ft%</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>    
        
            <tr ng-repeat="total in playerStats.winTotals">
                <td>{{total.mins}}</td>
                <td>{{total.pts}}</td>
                <td>{{total.fgm}}</td>
                <td>{{total.fga}}</td>
                <td>{{total.fgp}}%</td>
                <td>{{total.twoptm}}</td>
                <td>{{total.twopta}}</td>
                <td>{{total.twoptp}}%</td>
                <td>{{total.threeptm}}</td>
                <td>{{total.threepta}}</td>
                <td>{{total.threeptp}}%</td>
                <td>{{total.ftm}}</td>
                <td>{{total.fta}}</td>
                <td>{{total.ftp}}%</td>
                <td>{{total.oreb}}</td>
                <td>{{total.dreb}}</td>
                <td>{{total.reb}}</td>
                <td>{{total.ast}}</td>
                <td>{{total.to}}</td>
                <td>{{total.stl}}</td>
                <td>{{total.blk}}</td>
                <td>{{total.blkr}}</td>
                <td>{{total.pf}}</td>
                <td>{{total.flson}}</td>
                <td>{{total.plusminus}}</td>
            </tr>   
        </table>
        
        <h3>Averages</h3>
        
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>    
        
            <tr ng-repeat="average in playerStats.winAverages">
                <td>{{average.mins}}</td>
                <td>{{average.pts}}</td>
                <td>{{average.fgm}}</td>
                <td>{{average.fga}}</td>
                <td>{{average.twoptm}}</td>
                <td>{{average.twopta}}</td>
                <td>{{average.threeptm}}</td>
                <td>{{average.threepta}}</td>
                <td>{{average.ftm}}</td>
                <td>{{average.fta}}</td>
                <td>{{average.oreb}}</td>
                <td>{{average.dreb}}</td>
                <td>{{average.reb}}</td>
                <td>{{average.ast}}</td>
                <td>{{average.to}}</td>
                <td>{{average.stl}}</td>
                <td>{{average.blk}}</td>
                <td>{{average.blkr}}</td>
                <td>{{average.pf}}</td>
                <td>{{average.flson}}</td>
                <td>{{average.plusminus}}</td>
            </tr>   
        </table>
    </div>

    <!-- losses -->
    <div id="losses">
            <table>
                <th>Opp</th>
                <th>Location</th>
                <th>Result</th>
                <th>mins</th>
                <th>pts</th>
                <th>fgm</th>
                <th>fga</th>
                <th>fg%</th>
                <th>2ptm</th>
                <th>2pta</th>
                <th>2pt%</th>
                <th>3ptm</th>
                <th>3pta</th>
                <th>3pt%</th>
                <th>ftm</th>
                <th>fta</th>
                <th>ft%</th>
                <th>oreb</th>
                <th>dreb</th>
                <th>reb</th>
                <th>ast</th>
                <th>to</th>
                <th>stl</th>
                <th>blk</th>
                <th>blkr</th>
                <th>pf</th>
                <th>flson</th>
                <th>+/-</th>
            
            
                <tr ng-repeat="stat in playerStats.losses">
                    <td>{{stat.opponent}}</td>
                    <td>{{stat.location}}</td>
                    <td>{{stat.result}}</td>
                    <td>{{stat.mins}}</td>
                    <td>{{stat.pts}}</td>
                    <td>{{stat.fgm}}</td>
                    <td>{{stat.fga}}</td>
                    <td>{{stat.fgp}}%</td>    
                    <td>{{stat.twoptm}}</td>
                    <td>{{stat.twopta}}</td>
                    <td>{{stat.twoptp}}%</td> 
                    <td>{{stat.threeptm}}</td>
                    <td>{{stat.threepta}}</td>
                    <td>{{stat.threeptp}}%</td>         
                    <td>{{stat.ftm}}</td>
                    <td>{{stat.fta}}</td>
                    <td>{{stat.ftp}}%</td> 
                    <td>{{stat.oreb}}</td>
                    <td>{{stat.dreb}}</td>
                    <td>{{stat.oreb + stat.dreb}}</td>
                    <td>{{stat.ast}}</td>
                    <td>{{stat.to}}</td>
                    <td>{{stat.stl}}</td>
                    <td>{{stat.blk}}</td>
                    <td>{{stat.blkr}}</td>
                    <td>{{stat.pf}}</td>
                    <td>{{stat.flson}}</td>
                    <td>{{stat.plusMinus}}</td>
                </tr>   
            </table>
            
            <h3>Totals</h3>
            
            <table>
                <th>mins</th>
                <th>pts</th>
                <th>fgm</th>
                <th>fga</th>
                <th>fg%</th>
                <th>2ptm</th>
                <th>2pta</th>
                <th>2pt%</th>
                <th>3ptm</th>
                <th>3pta</th>
                <th>3pt%</th>
                <th>ftm</th>
                <th>fta</th>
                <th>ft%</th>
                <th>oreb</th>
                <th>dreb</th>
                <th>reb</th>
                <th>ast</th>
                <th>to</th>
                <th>stl</th>
                <th>blk</th>
                <th>blkr</th>
                <th>pf</th>
                <th>flson</th>
                <th>+/-</th>    
            
                <tr ng-repeat="total in playerStats.lossTotals">
                    <td>{{total.mins}}</td>
                    <td>{{total.pts}}</td>
                    <td>{{total.fgm}}</td>
                    <td>{{total.fga}}</td>
                    <td>{{total.fgp}}%</td>
                    <td>{{total.twoptm}}</td>
                    <td>{{total.twopta}}</td>
                    <td>{{total.twoptp}}%</td>
                    <td>{{total.threeptm}}</td>
                    <td>{{total.threepta}}</td>
                    <td>{{total.threeptp}}%</td>
                    <td>{{total.ftm}}</td>
                    <td>{{total.fta}}</td>
                    <td>{{total.ftp}}%</td>
                    <td>{{total.oreb}}</td>
                    <td>{{total.dreb}}</td>
                    <td>{{total.reb}}</td>
                    <td>{{total.ast}}</td>
                    <td>{{total.to}}</td>
                    <td>{{total.stl}}</td>
                    <td>{{total.blk}}</td>
                    <td>{{total.blkr}}</td>
                    <td>{{total.pf}}</td>
                    <td>{{total.flson}}</td>
                    <td>{{total.plusminus}}</td>
                </tr>   
            </table>
            
            <h3>Averages</h3>
            
            <table>
                <th>mins</th>
                <th>pts</th>
                <th>fgm</th>
                <th>fga</th>
                <th>2ptm</th>
                <th>2pta</th>
                <th>3ptm</th>
                <th>3pta</th>
                <th>ftm</th>
                <th>fta</th>
                <th>oreb</th>
                <th>dreb</th>
                <th>reb</th>
                <th>ast</th>
                <th>to</th>
                <th>stl</th>
                <th>blk</th>
                <th>blkr</th>
                <th>pf</th>
                <th>flson</th>
                <th>+/-</th>    
            
                <tr ng-repeat="average in playerStats.lossAverages">
                    <td>{{average.mins}}</td>
                    <td>{{average.pts}}</td>
                    <td>{{average.fgm}}</td>
                    <td>{{average.fga}}</td>
                    <td>{{average.twoptm}}</td>
                    <td>{{average.twopta}}</td>
                    <td>{{average.threeptm}}</td>
                    <td>{{average.threepta}}</td>
                    <td>{{average.ftm}}</td>
                    <td>{{average.fta}}</td>
                    <td>{{average.oreb}}</td>
                    <td>{{average.dreb}}</td>
                    <td>{{average.reb}}</td>
                    <td>{{average.ast}}</td>
                    <td>{{average.to}}</td>
                    <td>{{average.stl}}</td>
                    <td>{{average.blk}}</td>
                    <td>{{average.blkr}}</td>
                    <td>{{average.pf}}</td>
                    <td>{{average.flson}}</td>
                    <td>{{average.plusminus}}</td>
                </tr>   
            </table>
        </div>
