<!-- put specific opponent stats here -->
<div class="row">
    <div class="col-lg-12">
      <h2>Stats by Opponent</h2>
      <div id="teamSelectors">
        <!-- add all tables. hide based on clicks -->
        <div id="burnieLink" onclick="showBurnie()" class="filter currentOppLink"> Burnie</div>
        <div id="wynyardLink" onclick="showWynyard()" class="filter"> Wynyard</div>
        <div id="latrobeLink" onclick="showLatrobe()" class="filter"> Latrobe</div>
        <div id="ulverstoneLink" onclick="showUlverstone()" class="filter"> Ulverstone</div>
        <div id="somersetLink" onclick="showSomerset()" class="filter"> Somerset</div>
        <div id="devonportLink" onclick="showDevonport()" class="filter"> Devonport</div>
        <div id="smithtonLink" onclick="showSmithton()" class="filter"> Smithton</div>      
      </div>
    </div>
</div>

<!-- BURNIE -->
<div class="row currentOpp col-lg-12" id="burnie">
    <div ng-if="playerStats.gameSeparated.Burnie.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Burnie</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Burnie.length > 0">
      <div >
        <h3>Burnie</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Burnie">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Burnie</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Burnie[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Burnie[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Burnie[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Burnie[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Burnie[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].to}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Burnie[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Burnie</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Burnie[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].to}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Burnie[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Wynyard -->
<div class="row col-lg-12" id="wynyard">
    <div ng-if="playerStats.gameSeparated.Wynyard.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Wynyard</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Wynyard.length > 0">
      <div>
        <h3>Wynyard</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Wynyard">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Wynyard</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Wynyard[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Wynyard[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Wynyard[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Wynyard[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Wynyard[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].to}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Wynyard[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Wynyard</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Wynyard[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].to}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Wynyard[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Latrobe -->
<div class="row col-lg-12" id="latrobe">
    <div ng-if="playerStats.gameSeparated.Latrobe.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Latrobe</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Latrobe.length > 0">
      <div>
        <h3>Latrobe</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Latrobe">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Latrobe</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Latrobe[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Latrobe[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Latrobe[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Latrobe[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Latrobe[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].to}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Latrobe[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Latrobe</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Latrobe[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].to}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Latrobe[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Ulverstone -->
<div class="row col-lg-12" id="ulverstone">
    <div ng-if="playerStats.gameSeparated.Ulverstone.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Ulverstone</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Ulverstone.length > 0">
      <div>
        <h3>Ulverstone</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Ulverstone">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Ulverstone</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Ulverstone[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Ulverstone[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Ulverstone[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Ulverstone[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Ulverstone[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].to}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Ulverstone[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Ulverstone</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Ulverstone[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].to}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Ulverstone[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Somerset -->
<div class="row col-lg-12" id="somerset">
    <div ng-if="playerStats.gameSeparated.Somerset.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Somerset</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Somerset.length > 0">
      <div>
        <h3>Somerset</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Somerset">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Somerset</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Somerset[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Somerset[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Somerset[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Somerset[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Somerset[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].to}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Somerset[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Somerset</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Somerset[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].to}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Somerset[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Devonport -->
<div class="row col-lg-12" id="devonport">
    <div ng-if="playerStats.gameSeparated.Devonport.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Devonport</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Devonport.length > 0">
      <div>
        <h3>Devonport</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Devonport">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Devonport</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Devonport[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Devonport[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Devonport[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Devonport[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Devonport[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].to}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Devonport[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Devonport</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Devonport[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].to}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Devonport[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<!-- Smithton -->
<div class="row col-lg-12" id="smithton">
    <div ng-if="playerStats.gameSeparated.Smithton.length < 1" class="col-lg-12" >
      <br>
      <h4 class="noGames">No Games Against Smithton</h4>
      <br>
    </div>
    <div ng-if="playerStats.gameSeparated.Smithton.length > 0">
      <div>
        <h3>Smithton</h3>
        <table>
          <th>Location</th>
          <th>Result</th>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr ng-repeat="stat in playerStats.gameSeparated.Smithton">
            <td>{{stat.location}}</td>
            <td>{{stat.result}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.pts}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fgp}}%</td>    
            <td>{{stat.twoptm}}</td>
            <td>{{stat.twopta}}</td>
            <td>{{stat.twoptp}}%</td> 
            <td>{{stat.threeptm}}</td>
            <td>{{stat.threepta}}</td>
            <td>{{stat.threeptp}}%</td>         
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftp}}%</td> 
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.oreb + stat.dreb}}</td>
            <td>{{stat.ast}}</td>
            <td>{{stat.to}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blkr}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.flson}}</td>
            <td>{{stat.plusMinus}}</td>
        </tr>
        </table>

        <br>
          <!-- TOTALS -->
        <h3>Totals Against Smithton</h3>
        <table>
          <th>mins</th>
          <th>pts</th>
          <th>fgm</th>
          <th>fga</th>
          <th>fg%</th>
          <th>2ptm</th>
          <th>2pta</th>
          <th>2pt%</th>
          <th>3ptm</th>
          <th>3pta</th>
          <th>3pt%</th>
          <th>ftm</th>
          <th>fta</th>
          <th>ft%</th>
          <th>oreb</th>
          <th>dreb</th>
          <th>reb</th>
          <th>ast</th>
          <th>to</th>
          <th>stl</th>
          <th>blk</th>
          <th>blkr</th>
          <th>pf</th>
          <th>flson</th>
          <th>+/-</th>

          <tr>
            <td>{{playerStats.totalsAverages.Smithton[0].mins}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].pts}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].fgm}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].fga}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].fgp}}%</td>    
            <td>{{playerStats.totalsAverages.Smithton[0].twoptm}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].twopta}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].twoptp}}%</td> 
            <td>{{playerStats.totalsAverages.Smithton[0].threeptm}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].threepta}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].threeptp}}%</td>         
            <td>{{playerStats.totalsAverages.Smithton[0].ftm}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].fta}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].ftp}}%</td> 
            <td>{{playerStats.totalsAverages.Smithton[0].oreb}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].dreb}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].oreb + stat.dreb}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].ast}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].to}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].stl}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].blk}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].blkr}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].pf}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].flson}}</td>
            <td>{{playerStats.totalsAverages.Smithton[0].plusMinus}}</td>
          </tr>
        </table>

        <!-- AVERAGES -->
        <h3>Averages Against Smithton</h3>
        <table>
            <th>mins</th>
            <th>pts</th>
            <th>fgm</th>
            <th>fga</th>
            <th>2ptm</th>
            <th>2pta</th>
            <th>3ptm</th>
            <th>3pta</th>
            <th>ftm</th>
            <th>fta</th>
            <th>oreb</th>
            <th>dreb</th>
            <th>reb</th>
            <th>ast</th>
            <th>to</th>
            <th>stl</th>
            <th>blk</th>
            <th>blkr</th>
            <th>pf</th>
            <th>flson</th>
            <th>+/-</th>
  
            <tr>
              <td>{{playerStats.totalsAverages.Smithton[1].mins}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].pts}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].fgm}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].fga}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].twoptm}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].twopta}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].threeptm}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].threepta}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].ftm}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].fta}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].oreb}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].dreb}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].oreb + stat.dreb}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].ast}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].to}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].stl}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].blk}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].blkr}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].pf}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].flson}}</td>
              <td>{{playerStats.totalsAverages.Smithton[1].plusMinus}}</td>
            </tr>
          </table>
      </div> 
    </div> 
</div>

<br>
