<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Pizzapolis?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/PizzaCrust.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/Toppings.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/PizzaSauce.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/OrderSides.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/OrderPizza.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/Pizza.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/Sides.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/OrderSummary.hbm.xml"/>
        <mapping resource="com/jhuep/web_development/pizzapolis/entity/Customer.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
