/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 85%;
}

th, td {
    text-align: center;
    padding: 5px;
}
th {
    background-color: blue;
    color: white;
}

.right{
    float: right;
}

.link{
    color: blue;
}
.link:hover{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h2{
    text-decoration: underline;
}

#selectors{
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px; */
    grid-template-columns: 20% 20% 20% 20% 20%;   
    width: 85%; 
}

.filter{
    color: blue;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid black; */
    align-items: center
}
.filter:hover{
    text-decoration: underline;
    cursor: pointer;
}
.gameList{
    font-size: 14px;
    -webkit-columns: 100px 3; 
    -moz-columns: 100px 3; 
    columns:100px 3;
}

#home{
    display: none; 
}
#away{
    display: none;
}
#wins{
    display: none;
}
#losses{
    display: none;
}

.currentLink{
     color: white;
     background-color: blue;
 }
 


@media screen and (min-width:568px) {

    h1{
        font-size: 2em;
    }
    th, td {
        text-align: center;
        padding: 2px;
    }
    ul{
        list-style-type: none;
        display: inline-block;
    }

    .nameList {        
        -webkit-columns: 100px 3; 
        -moz-columns: 100px 3; 
        columns:100px 3;
    }
  
    .nameList li{
        white-space: nowrap;
        margin-bottom: 5px;
    }

  



    /*  horizontal phone width between 568 and 736 */
    /* vert between  320 and 414 */
}  

.bottomTable{
    padding-bottom: 25px;
}

@media screen and (max-width:567px) and (min-width:319px) {
    h1{
        font-size: 2em;
    }
    .nameList li{
        white-space: nowrap;
        margin-bottom: 2px;
        font-size: 1.5em;
        padding-left: 5px;
    }
    .nameList {        
        -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
        -moz-columns: 100px 2; /* Firefox */
        columns:100px 2;
    }

    ul{
        list-style-type: none;
        /* display: block; */
    }
  
}  