doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Project Manager
        ul.nav.navbar-nav.navbar-right
          if (user)
            li
              a Welcome #{user.username}
            li
              a(href='/newOrder') New Order
            li
              a(href='/allOrders') All Orders
            li
              a(href='/logout') Logout
          if (!user)
            li
                a(href="/login")
                  span.glyphicon.glyphicon-log-in Login
            li  
                a(href="/register")
                  span.glyphicon.glyphicon-user Register
    block content
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")

