<div class="container">
  <div class="row">
    <div class="col">
      <form role="form" action="/editOrder" method="get">
        <div class="form-group"></div>
        <label for="firstName">First Name</label>
        <input
          class="form-control"
          type="text"
          name="firstName"
          readonly="readonly"
          value="#{order.firstName}"
        />
        <div class="form-group"></div>
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          type="text"
          name="lastName"
          readonly="readonly"
          value="#{order.lastName}"
        />
        <div class="form-group"></div>
        <label for="emailAddress">Email address</label>
        <input
          class="form-control"
          type="email"
          name="emailAddress"
          readonly="readonly"
          value="#{order.email}"
        />
        <div class="form-group"></div>
        <label for="productName">Product</label>
        <input
          class="form-control"
          type="text"
          name="productName"
          readonly="readonly"
          value="#{order.product}"
        />
        <div class="form-group"></div>
        <label for="quantity">Quantity</label>
        <input
          class="form-control"
          type="number"
          name="quantity"
          readonly="readonly"
          value="#{order.quantity}"
        />
        <button name="orderNumber" type="submit" value="#{order.orderNumber}">
          Edit
        </button>
      </form>
    </div>
    <div class="col">
      <form role="form" action="/editOrder" method="get">
        <div class="form-group"></div>
        <label for="firstName">First Name</label>
        <input
          class="form-control"
          type="text"
          name="firstName"
          readonly="readonly"
          value="#{order.firstName}"
        />
        <div class="form-group"></div>
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          type="text"
          name="lastName"
          readonly="readonly"
          value="#{order.lastName}"
        />
        <div class="form-group"></div>
        <label for="emailAddress">Email address</label>
        <input
          class="form-control"
          type="email"
          name="emailAddress"
          readonly="readonly"
          value="#{order.email}"
        />
        <div class="form-group"></div>
        <label for="productName">Product</label>
        <input
          class="form-control"
          type="text"
          name="productName"
          readonly="readonly"
          value="#{order.product}"
        />
        <div class="form-group"></div>
        <label for="quantity">Quantity</label>
        <input
          class="form-control"
          type="number"
          name="quantity"
          readonly="readonly"
          value="#{order.quantity}"
        />
        <button name="orderNumber" type="submit" value="#{order.orderNumber}">
          Edit
        </button>
      </form>
    </div>
  </div>
</div>
